@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';
@import 'ember-power-select';
@import 'bootstrap';

body {
  background-color: #808484;
}

.modal-dialog {
  margin: 0;
  min-width: 30rem;
  display: flex;
}

.btn-outline-light {
  border-color: #ced4da;
}

.select-container {
  min-width: 9rem;
}

.input-container {
  width: 6.5rem !important;
}

.width-60 {
  width: 8rem;
}

.width-15rem {
  width: 15rem;
}
