<div class='input-group mb-3 bg-secondary' ...attributes>
  {{! template-lint-disable require-input-label }}
  <input class='form-control pe-none' type='text' value={{@issue.details}} />
  <Shared::Button
    class='btn-outline-light'
    @label='âœ–ï¸'
    @onClick={{this.onDeleteIssue}}
  />
</div>