<table class='table table-dark table-striped table-hover w-75 mx-auto'>
  <thead>
    <tr>
      <th class='width-60' scope='col'>
        {{! template-lint-disable require-input-label }}
        <input
          class='form-control form-control-sm input-container'
          type='texst'
          {{on 'input' this.onSearchInput}}
          placeholder='filter by ID'
        />
      </th>
      <th scope='col'>Bike</th>
      <th scope='col'>Type</th>
      <th scope='col'>Acceptance date</th>
      <th scope='col'>Release date</th>
      <th scope='col'>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.filteredOrders as |order|}}
      <OrdersTable::Row @order={{order}} />
    {{else}}
      <tr>
        <td class='text-center' colspan='6'>
          <h2>Invalid ID</h2>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>