<form {{on 'submit' @onSave}}>
  <div class='input-group mb-3'>
    <input
      id='inputIssue'
      type='text'
      class='form-control'
      placeholder='Issue'
      {{on 'input' @onInput}}
    />
    <Shared::Button
      class='btn-outline-light'
      @label='✖️'
      @onClick={{@onCancel}}
    />

    <Shared::Button
      class='btn-outline-light'
      @type='submit'
      @label='✔️'
      @onClick={{@onSave}}
    />
  </div>
</form>