<div class='input-group mb-3'>
  {{! template-lint-disable require-input-label }}
  <input class='form-control pe-none' type='text' value={{@comment.content}} />
  <button
    class='btn btn-outline-light'
    type='button'
    {{on 'click' this.onDeleteComment}}
  >✖️</button>
</div>