<div class='input-group mb-3'>
  {{! template-lint-disable require-input-label }}
  <input class='form-control pe-none' type='text' value={{@comment.content}} />
  <Shared::Button @label='âœ–ï¸' @onClick={{this.onDeleteComment}} />
</div>