<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container-fluid'>
    <LinkTo class='navbar-brand' @route='home.index'>🛠 Home</LinkTo>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNav'
      aria-controls='navbarNav'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav'>
        <li class='nav-item'>
          <LinkTo class='nav-link' @route='home.profile'>Profile</LinkTo>
        </li>
        <li class='nav-item'>
          <LinkTo class='nav-link' @route='home.order.new'>New Order</LinkTo>
        </li>
        <li class='nav-item'>
          <a
            class='nav-link disabled'
            href='#'
            tabindex='-1'
            aria-disabled='true'
          >Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>